@import './contact.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}


/* globals */

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

.section {
    max-width: 100vw;
}

.section-center {
    width: 90vw;
    max-width: 1100px;
    padding: 1rem;
    margin: 0 auto;
}

.section-title {
    margin-top: 1.5rem;
    color: var(--primary-color-4);
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
}

.btn {
    border: none;
    border-radius: 10px;
    color: var(--primary-color-4);
    font-size: 1rem;
    font-weight: bold;
    background-color: #f6e9eb;
    margin-top: 1rem;
    transition: all 0.25s linear;
    padding: 0.25rem 1.5rem;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px var(--primary-color-5);
}

.card-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

:root {
    --primary-color-1: #f6e9eb;
    --primary-color-2: #ffc0cb;
    --primary-color-3: #fd94a6;
    --primary-color-4: #f85f78;
    --primary-color-5: #b68991;
    --white: #fff;
    --black: #000;
    --fs-1: 0.25rem;
    --fs-2: 2rem;
}

body {
    background: var(--white);
    color: var(--black);
}

img {
    object-fit: cover;
    object-position: center center;
    width: 400px;
    height: 400px;
    border-radius: 8px;
}


/* header */

.header {
    background-color: var(--primary-color-1);
    color: var(--black);
}

.navbar {
    width: 100%;
    height: auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo-img {
    width: 3.5rem;
    height: 2.5rem;
}

.logo-img:hover {
    transform: scale(1.5);
}

.toggle-bar {
    padding: 0.25rem 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s linear;
    border-radius: 10px;
}

.toggle-bar:hover {
    background-color: var(--primary-color-2);
    transform: scale(1.2);
}

.toggle-bar i {
    font-size: 2rem;
}

.nav-links-container {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.nav-links {
    height: calc(100vh - 10rem);
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    border-bottom: 5px solid var(--white);
    font-size: 1.5rem;
    padding: 2rem;
}

.nav-link a {
    color: black;
    text-decoration: none;
    transition: 0.5s ease-out;
}

.logins {
    margin: 2rem;
    text-align: center;
}

.login-btn {
    background-color: var(--white);
    padding: 1rem 1.75rem;
    border: 2px solid var(--primary-color-2);
    margin-right: 1rem;
}

.register-btn {
    padding: 1rem 1.75rem;
    border: 2px solid var(--white);
}

.active-btn {
    background-color: var(--white);
}

.page-btn {
    width: 10px;
    font-size: 10px;
    padding: 8px 16px;
    margin: 4px;
    text-align: center;
}

.next-btn,
.prev-btn {
    padding: 16px 24px;
    margin: 0 auto;
    text-align: left;
    background: none;
}

@media screen and (min-width: 678px) {
    .header {
        max-width: 100vw;
    }
    .navbar {
        display: grid;
        grid-template-columns: 0.5fr 2.5fr;
        align-items: center;
        height: 5rem;
    }
    .toggle-bar {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-link a {
        text-decoration: none;
        font-size: 1.25rem;
        color: black;
        border: none;
        margin-top: 1rem;
    }
    .nav-link a:hover {
        background-color: var(--primary-color-4);
        color: var(--white);
        padding: 1rem;
        border-radius: 10px;
    }
    .nav-link {
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }
    .nav-header {
        padding: 1rem;
        background: none;
        height: 10vh;
    }
    .logins {
        display: flex;
        margin: 0;
    }
    .login-btn {
        background-color: var(--white);
        padding: 1rem 1.75rem;
        border: 2px solid var(--primary-color-2);
    }
    .register-btn {
        /* padding: 1rem 1.5rem; */
        border: 2px solid var(--white);
    }
}


/* main */

.hero {
    background: linear-gradient(rgba(36, 33, 33, 0.5), rgba(34, 32, 32, 0.5)), url('https://images.pexels.com/photos/981062/pexels-photo-981062.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-center {
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.hero-caption {
    font-size: 2rem;
    animation: heroAnims 3s ease;
    margin-bottom: 1rem;
}

.hero-text {
    font-size: 0.75rem;
    animation: appear 2s ease-out;
    max-width: 20rem;
}

.hero-btn {
    color: black;
    padding: 0.5rem 1.5rem;
    animation: grow 0.5s linear;
    color: var(--primary-color-4);
    font-size: 1rem;
}

@keyframes heroAnims {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 678px) {
    .hero {
        text-align: center;
        min-height: 70vh;
    }
    .hero-caption {
        font-size: 4rem;
        margin: 2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .hero-text {
        max-width: 750px;
        font-size: 1.75rem;
    }
    .hero-btn {
        padding: 1.4rem 4rem;
    }
}

.about-img {
    display: none;
}


/* about section*/

.about-center {
    text-align: center;
}

.about-btn {
    padding: 1rem 2rem;
}

@media screen and (min-width: 678px) {
    .about-center {
        display: flex;
        justify-content: space-evenly;
        gap: 4rem;
    }
    .about-img-container {
        filter: brightness(1.75);
    }
    .about-img {
        display: block;
        border-radius: 20% 60% 60% 10%;
    }
    .about-right {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;
    }
    .about-right p {
        font-size: 1.75rem;
    }
    .about-right h3 {
        color: var(--primary-color-2);
        font-style: oblique;
        text-shadow: 2px 2px 50px var(--primary-color-4);
    }
}


/* featured section*/

.featured-section {
    margin-top: 2rem;
    /* border-bottom: 2px solid #f2abf5; */
    background-color: rgb(240, 240, 240);
    padding: 1rem 0;
}

.featured-card {
    margin-top: 1rem;
    /* background-color: #f6e4e78e; */
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--primary-color-5);
    padding: 1rem 0;
    margin: 0.5rem auto;
    color: var(--black);
}

.animal-img-wrapper img {
    width: 100%;
    height: 15rem;
    border-radius: 0;
}

.animal-details {
    margin: 0 auto;
    letter-spacing: 2.5px;
    word-wrap: break-word;
    word-spacing: 2.5px;
}

.animal-text {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.card-footer {
    font-size: 1rem;
    padding: 0.5rem 0;
    background-color: var(--primary-color-3);
}

.featured-btn {
    padding: 1rem 2.5rem;
}

@media screen and (min-width: 678px) {
    .featured-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    }
}

@media screen and (min-width: 999px) {
    .featured-center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    }
}


/* Project section*/

.project-title {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--primary-color-1);
}

.project-card {
    margin-bottom: 1rem;
    padding: 1.5rem 0 0 0;
    text-align: center;
}

.project-img-container {
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

.project-details {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    backdrop-filter: blur(1px);
    z-index: -1;
    transition: 15s ease-in-out;
    cursor: pointer;
}

.project-img {
    width: 100%;
    z-index: 4;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.project-img:hover {
    opacity: 0.2;
}

.project-details h4 {
    padding: 1rem 0;
    background-color: rgb(223, 105, 105);
    font-weight: bolder;
    font-size: 2rem;
    color: var(--white);
}

.project-card-btn {
    padding: 2rem 3.5rem;
}

@media screen and (min-width: 999px) {
    .project-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}


/* footer */

.footer {
    background-color: var(--primary-color-1);
    color: var(--black);
}

.footer-section {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.footer-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-to-top-btn {
    background-color: var(--primary-color-4);
    color: white;
    padding: 1rem;
}

.back-to-top-btn i {
    font-size: 2rem;
}


/* contact page */

.hero-contact-center {
    height: 15rem;
    max-width: 100vw;
    background: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.contact-form {
    text-align: center;
}

.form-wrapper {
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background: pink;
    padding: 1rem;
    border-radius: 30px;
}

input {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

textarea {
    padding: 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

label {
    font-size: 1rem;
    font-weight: 900;
}

.contact-btn {
    padding: 1rem 2rem;
    color: white;
    text-transform: capitalize;
}

.contact-info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.contact-info i {
    padding-right: 1rem;
}

@media screen and (min-width: 678px) {
    .form-wrapper {
        max-width: 40vw;
        margin: 1rem auto;
    }
    .contact-btn {
        padding: 1rem 5rem;
        color: white;
        text-transform: capitalize;
    }
    .contact-info {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 999px) {
    input {
        padding: 1rem 5rem;
    }
    label {
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    textarea {
        padding: 2rem 8rem;
        border: none;
        outline: none;
        border-radius: 10px;
    }
}


/* about */

.card-staff {
    text-align: center;
    margin-top: 1rem;
    box-shadow: 2px 2px 20px black;
    padding: 2rem;
    border-radius: 10px 25%;
}

.card-staff span {
    font-style: italic;
    margin: 1rem;
}

.staff-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.staff-name {
    margin: 0 1rem;
}

.staff-text {
    max-width: 70vw;
    margin: auto;
}

@media screen and (min-width: 678px) {
    .team-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .facility-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .card-staff {
        width: 25rem;
    }
}

.facility-card {
    text-align: center;
    margin: 1rem;
}

.facility-img {
    height: 200px;
}

.facility-name {
    font-size: 1.5rem;
}

.facility-text {}